@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #05c46d;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    margin-bottom: 0;
}

h1+p {
    margin-top: 0;
}

form {
    background-color: #1ff;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
    border-radius: 3px;
    padding: 30px 20px;
    max-width: 500px;
    margin: 40px auto;
}

.form-control {
    margin-bottom: 20px;
    text-align: left;
}

.form-control label {
    display: block;
    margin-bottom: 6px;
}

.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #888;
    border-radius: 2px;
    padding: 10px;
    display: block;
    font-size: 14px;
    font-family: inherit;
    width: 100%;
    outline: none;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

button {
    background-color: #05c46d;
    border: 1px solid #05c46d;
    border-radius: 2px;
    padding: 10px;
    display: block;
    font-size: 14px;
    font-family: inherit;
    width: 100%;
    outline: none;
}